<div class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="align-items-center rounded-3 shadow-lg p-4 m-4 text-center bg-white">
      <h1 class="p-1" style="font-size: 2.4rem; font-weight: bold;">Editar datos del usuario</h1>
      <label for="" class="dmsans">Puedes realizar modificaciones sensibles de datos del usuario</label><br>
      <label for=""><a [routerLink]="'/admin/manage-users'">Volver</a></label>
  
      <form [formGroup]="updateuserForm" (ngSubmit)="updateUser()">
        <div class="p-4 pt-0">
  
          <div class="text-start mt-4">
            <label for="name" class="form-label">NOMBRE</label>
            <input formControlName="name" class="form-control mb-0" [ngClass]="{'is-valid': updateuserForm.get('name')?.valid && updateuserForm.get('name')?.touched, 'is-invalid': updateuserForm.get('name')?.invalid && updateuserForm.get('name')?.touched}" required>
            <div *ngIf="updateuserForm.get('name')?.invalid && updateuserForm.get('name')?.touched" class="text-danger">
              El nombre es requerido
            </div>
          </div>
  
          <div class="text-start mt-4">
            <label for="lastname" class="form-label">APELLIDO</label>
            <input formControlName="lastname" class="form-control mb-0" [ngClass]="{'is-valid': updateuserForm.get('lastname')?.valid && updateuserForm.get('lastname')?.touched, 'is-invalid': updateuserForm.get('lastname')?.invalid && updateuserForm.get('lastname')?.touched}" required>
            <div *ngIf="updateuserForm.get('lastname')?.invalid && updateuserForm.get('lastname')?.touched" class="text-danger">
              El apellido es requerido
            </div>
          </div>
  
          <div class="text-start mt-4">
            <label for="email" class="form-label">EMAIL</label>
            <input formControlName="email" type="email" class="form-control mb-0" [ngClass]="{'is-valid': updateuserForm.get('email')?.valid && updateuserForm.get('email')?.touched, 'is-invalid': updateuserForm.get('email')?.invalid && updateuserForm.get('email')?.touched}" required>
            <div *ngIf="updateuserForm.get('email')?.invalid && updateuserForm.get('email')?.touched" class="text-danger">
              Debe ser un email válido
            </div>
          </div>
          <div class="text-start mt-4">
            <label for="password" class="form-label">CONTRASEÑA</label>
            <input formControlName="password" type="text" class="form-control mb-0" [ngClass]="{'is-valid': updateuserForm.get('password')?.valid && updateuserForm.get('password')?.touched, 'is-invalid': updateuserForm.get('password')?.invalid && updateuserForm.get('password')?.touched}" required>
            <div *ngIf="updateuserForm.get('password')?.invalid && updateuserForm.get('password')?.touched" class="text-danger">
              La contraseña es requerida y debe tener al menos 8 caracteres
            </div>
          </div>
          
          <div class="text-start mt-4">
            <label for="phone" class="form-label">TELÉFONO</label>
            <input formControlName="phone" type="text" class="form-control mb-0" [ngClass]="{'is-valid': updateuserForm.get('phone')?.valid && updateuserForm.get('phone')?.touched && updateuserForm.get('phone')?.value?.toString().length === 10, 'is-invalid': updateuserForm.get('phone')?.invalid && updateuserForm.get('phone')?.touched}" required minlength="10" maxlength="10">
            <div *ngIf="updateuserForm.get('phone')?.touched && updateuserForm.get('phone')?.value?.toString().length < 10" class="text-danger">
              Teléfono inválido: debe tener 10 dígitos.
            </div>
          </div>
  
          <div class="text-start mt-4">
            <label for="bank" class="form-label">BANCO</label>
            <input formControlName="bank" class="form-control mb-0">
          </div>
  
          <div class="text-start mt-4">
            <label for="cbu" class="form-label">CBU</label>
            <input formControlName="cbu" class="form-control mb-0">
          </div>
  
          <div class="text-start mt-4">
            <label for="cuil" class="form-label">CUIL</label>
            <input formControlName="cuil" class="form-control mb-0">
          </div>
  
          <div class="text-start mt-4">
            <label for="rol" class="form-label">ROL</label>
            <input formControlName="rol" class="form-control mb-0" readonly>
          </div>
  
          <div class="form-check text-start mt-4">
            <input class="form-check-input" type="checkbox" formControlName="deleted" id="deleted">
            <label class="form-check-label" for="deleted">Cuenta eliminada</label>
          </div>
  
  
        </div>
  
        <div class="p-4">
          <button type="submit" class="btn btn-black btn-lg poppins-bold" [disabled]="updateuserForm.invalid">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
  