.form-control{
    background-color: #f5f5f5; /* Fondo gris claro */
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 50px; /* Hace el input redondeado */
    text-align: start; 
}


.btn-black {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    border-radius: 50px; /* Hace el botón redondeado */
    width: 100%; 
    border: none; /* Sin borde */
    transition: background-color 0.3s; /* Transición suave en hover */
    font-weight: bold;
}
.btn-red {
  background-color: #e40a0a; /* Fondo negro */
  color: #fff; /* Texto blanco */
  border-radius: 50px; /* Hace el botón redondeado */
  width: 100%; 
  border: none; /* Sin borde */
  transition: background-color 0.3s; /* Transición suave en hover */
  font-weight: bold;
}
.btn-green {
    background-color: #1c840a; /* Fondo negro */
    color: #fff; /* Texto blanco */
    border-radius: 50px; /* Hace el botón redondeado */
    width: 100%; 
    border: none; /* Sin borde */
    transition: background-color 0.3s; /* Transición suave en hover */
    font-weight: bold;
}

.suggestions-container {
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
  }
  .list-group-item {
    cursor: pointer;
  }
  .list-group-item:hover {
    background-color: #f0f0f0;
  }
  