<div class=" d-flex align-items-center justify-content-center min-vh-100">

    <div class="align-items-center rounded-3 shadow-lg p-4 m-4 text-center bg-white ">
        <div class="p-4 pb-0">
            <h1 class="p-1" style="font-size: 2.4rem; font-weight: bold;">Recuperar clave</h1>
            <label for="" class="dmsans">Ingresa el correo o telefono con el que estas registrado</label><br>
        </div>
        

        <form [formGroup]="registerForm" (ngSubmit)="sendMail()">
            <div class="p-4">


               
                <div class="text-start">
                    <label for="email" class="form-label">E-MAIL O TELEFONO</label>
                    <input formControlName="email" type="text" class="form-control mb-0" 
                           [ngClass]="{'is-valid': registerForm.get('email')?.valid && registerForm.get('email')?.touched, 
                                       'is-invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}" 
                           required>
                    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
                      Debe ser un email o telefono válido
                    </div>
                  </div>



            </div>
       

            <div class="p-4">
                <button type="submit" class="btn btn-black btn-lg poppins-bold"
                    [disabled]="registerForm.invalid">Recuperar</button>
                    
            </div>
            <a [routerLink]="'/home'" class="form-label mt-2">Loguearse</a>
        </form>


    </div>
</div>