<div class="row d-flex justify-content-center">
    <div class="col-3 d-flex justify-content-center">
      <a [routerLink]="'/principal'">
        <img src="../../assets/home.png" alt="Home" class="img-fluid icono-responsive">
      </a>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <a [routerLink]="'/profile'">
        <img src="../../assets/user.png" alt="Profile" class="img-fluid icono-responsive">
      </a>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <a [routerLink]="'/listMenssages'">
        <img src="../../assets/sms.png" alt="Messages" class="img-fluid icono-responsive">
      </a>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <a [routerLink]="'/notifications'">
        <img src="../../assets/alert.png" alt="Notifications" class="img-fluid icono-responsive">
      </a>
    </div>
  </div>
  