<div class=" d-flex align-items-center justify-content-center min-vh-100">

    <div class="align-items-center rounded-3 shadow-lg p-4 m-4 text-center bg-white ">
        <h1 class="p-1" style="font-size: 2.4rem; font-weight: bold;">Nueva password</h1>
        <label for="" class="dmsans">Ingresa tus nuevas claves</label><br>

        <form [formGroup]="recoveryForm" (ngSubmit)="resetPassword()">
            <div class="p-4">


                <div class="text-start mt-4">
                    <label for="pass" class="form-label">NUEVA PASSWORD</label>
                    <input formControlName="password" type="password" class="form-control mb-0" [ngClass]="{'is-valid': recoveryForm.get('password')?.valid && recoveryForm.get('password')?.touched, 
                       'is-invalid': recoveryForm.get('password')?.invalid && recoveryForm.get('password')?.touched}"
                        required>
                    <div *ngIf="recoveryForm.get('password')?.invalid && recoveryForm.get('password')?.dirty"
                        class="text-danger">
                        La contraseña debe tener al menos 6 caracteres, un número y una mayúscula.
                    </div>
                </div>

                <div class="text-start mt-4">
                    <label for="passConfirm" class="form-label">REPETIR PASSWORD</label>
                    <input formControlName="passwordConfirm" type="password" class="form-control mb-0" 
                      [ngClass]="{
                        'is-valid': recoveryForm.get('passwordConfirm')?.valid && recoveryForm.get('passwordConfirm')?.touched, 
                        'is-invalid': recoveryForm.errors && recoveryForm.errors['passwordMismatch'] && recoveryForm.get('passwordConfirm')?.touched
                      }" required>
                    <div *ngIf="recoveryForm.errors && recoveryForm.errors['passwordMismatch'] && recoveryForm.get('passwordConfirm')?.touched" class="text-danger">
                      Las contraseñas no coinciden
                    </div>
                  </div>
                  

            </div>


            <div class="p-4">
                <button type="submit" class="btn btn-black btn-lg poppins-bold"
    [disabled]="recoveryForm.invalid || (recoveryForm.errors && recoveryForm.errors['passwordMismatch'])">Enviar</button>

            </div>
        </form>


    </div>
</div>