

<div class="container mt-4">
    <label class="py-2 text-center d-flex justify-content-center"><a [routerLink]="'/profile'">Volver</a></label>
    <h2 class="text-center">Preguntas Frecuentes</h2>
    <hr class="my-4">
    
    <div class="faq-item">
        <h5>¿Cómo creo mi clave?</h5>
        <p>Para crear tu clave, accede a la sección de registro, donde se te solicitarán algunos datos para crear tu clave personalizada.</p>
    </div>
    
    <div class="faq-item">
        <h5>¿Cómo recupero mi contraseña?</h5>
        <p>En la sección de "¿Olvidaste la contraseña?" puedes recuperar tu clave en unos simples pasos.</p>
    </div>
    
    <div class="faq-item">
        <h5>¿A qué dirección de correo me puedo contactar para hacer una sugerencia o reclamo?</h5>
        <p>Para sugerencias o reclamos, puedes escribirnos a: <strong>soporte&#64;viajeros.com</strong></p>
    </div>
    
    <div class="faq-item">
        <h5>¿Cómo puedo pausar temporalmente mi suscripción?</h5>
        <p>En la sección de "Ajustes de Cuenta" encontrarás la opción para pausar tu cuenta temporalmente.</p>
    </div>
    
    <div class="faq-item">
        <h5>¿Tienes alguna duda o quieres comunicarte con nosotros?</h5>
        <p>Estamos aquí para ayudarte. Puedes contactarnos directamente enviándonos un correo a <strong>ayuda&#64;viajeros.com</strong>.</p>
    </div>
    
    <div class="faq-item">
        <h5>¿Cómo funciona el sistema de calificación de conductores y pasajeros?</h5>
        <p>Al finalizar cada viaje, puedes calificar a tu conductor y dejar un comentario. Esto ayuda a mantener una comunidad segura y confiable.</p>
    </div>
    
    <div class="faq-item">
        <h5>¿Qué necesito para crear un viaje como conductor?</h5>
        <p>Debes registrarte como conductor, cargar la información requerida de tu vehículo y mantener una calificación positiva para comenzar a crear viajes.</p>
    </div>
    
    <div class="faq-item">
        <h5>¿Qué medios de pago aceptan?</h5>
        <p>Aceptamos pagos con tarjeta de crédito, débito, y MercadoPago. Pronto incluiremos nuevas opciones de pago para tu conveniencia.</p>
    </div>
    
    <div class="faq-item">
        <h5>¿Cómo puedo cancelar un viaje?</h5>
        <p>Para cancelar un viaje, ve a la sección "Mis Viajes", selecciona el viaje que deseas cancelar y sigue las instrucciones.</p>
    </div>
    
    <div class="faq-item">
        <h5>¿Qué pasa si llego tarde al punto de encuentro?</h5>
        <p>Intenta avisar a tu conductor o pasajeros mediante el chat de la app. Si tienes problemas recurrentes, podrían afectar tu calificación.</p>
    </div>
    
    <div class="faq-item">
        <h5>¿Puedo compartir el viaje con amigos o familiares?</h5>
        <p>¡Claro! Puedes compartir el enlace del viaje con otros desde la sección de detalles de tu viaje.</p>
    </div>
</div>
