<div class=" container d-flex align-items-center justify-content-center min-vh-100">

    <div class="align-items-center rounded-3 shadow-lg p-4 m-4 text-center bg-white ">
   


        <label for="" class="py-2"><a [routerLink]="'/mis-mascotas'">Volver</a></label>

        <form [formGroup]="petUpdate" (ngSubmit)="submitPetForm()">
            <div class="p-4 pt-1">
                <h1 class="p-1" style="font-size: 2.4rem; font-weight: bold;">Editar mascota</h1>
                <!-- Tipo (type) -->

                <div class="text-start mt-4">
                    <label for="name" class="form-label">NOMBRE</label>
                    <input formControlName="name" class="form-control mb-0"
                        [ngClass]="{'is-valid': petUpdate.get('name')?.valid && petUpdate.get('name')?.touched, 
                                   'is-invalid': petUpdate.get('name')?.invalid && petUpdate.get('name')?.touched}" required>
                    <div *ngIf="petUpdate.get('name')?.invalid && petUpdate.get('name')?.touched"
                        class="text-danger">
                        El nombre es requerido
                    </div>
                </div>


                <div class="text-start mt-4">
                    <label for="type" class="form-label">TIPO DE MASCOTA</label>
                    <select formControlName="idType" class="form-control mb-0"
                        [ngClass]="{'is-valid': petUpdate.get('idType')?.valid && petUpdate.get('idType')?.touched, 
                                           'is-invalid': petUpdate.get('idType')?.invalid && petUpdate.get('idType')?.touched}" required>
                        <option value="" disabled selected>Selecciona un tipo</option>
                        <option [ngValue]="1">Perro</option>
                        <option [ngValue]="2">Gato</option>
                        <option [ngValue]="3">Otro</option>
                    </select>
                    <div *ngIf="petUpdate.get('idType')?.invalid && petUpdate.get('idType')?.touched" class="text-danger">
                        Selecciona un tipo de mascota.
                    </div>
                </div>

                <!-- Tamaño (size) -->
                <div class="text-start mt-4">
                    <label for="size" class="form-label">TAMAÑO</label>
                    <select formControlName="idSize" class="form-control mb-0"
                        [ngClass]="{'is-valid': petUpdate.get('idSize')?.valid && petUpdate.get('idSize')?.touched, 
                                           'is-invalid': petUpdate.get('idSize')?.invalid && petUpdate.get('idSize')?.touched}" required>
                        <option value="" disabled selected>Selecciona un tamaño</option>
                        <option [ngValue]="1">Chico</option>
                        <option [ngValue]="2">Mediano</option>
                        <option [ngValue]="3">Grande</option>
                    </select>
                    <div *ngIf="petUpdate.get('idSize')?.invalid && petUpdate.get('idSize')?.touched" class="text-danger">
                        Selecciona un tamaño.
                    </div>
                </div>

                <!-- Canil (canil) -->
                <div class="text-start mt-4">
                    <label for="canil" class="form-label">TIENE CANIL?</label>
                    <select formControlName="canil" class="form-control mb-0"
                        [ngClass]="{'is-valid': petUpdate.get('canil')?.valid && petUpdate.get('canil')?.touched, 
                                           'is-invalid': petUpdate.get('canil')?.invalid && petUpdate.get('canil')?.touched}" required>
                        <option value="" disabled selected>¿Tiene canil?</option>
                        <option [ngValue]="true">Sí</option>
                        <option [ngValue]="false">No</option>
                    </select>
                    <div *ngIf="petUpdate.get('canil')?.invalid && petUpdate.get('canil')?.touched" class="text-danger">
                        Selecciona si la mascota tiene canil.
                    </div>
                </div>

            </div>

            <!-- Botón para registrar -->
            <div class="p-4 text-center">
                <button type="submit" class="btn btn-black btn-lg poppins-bold" [disabled]="petUpdate.invalid">
                    Actualizar Mascota
                </button>
            </div>
        </form>




    </div>
</div>