<div class=" container d-flex align-items-center justify-content-center min-vh-100">

    <div class="align-items-center rounded-3 shadow-lg p-4 m-4 text-center bg-white ">
        <h1 class="p-1" style="font-size: 2.4rem; font-weight: bold;">Editar perfil</h1>
        <label for="" class="mb-4"><a [routerLink]="'/profile'">Volver</a></label>



        <div class="mx-4 my-3">
            <button type="button" class="btn btn-black btn-lg poppins-bold text-start" [routerLink]="'/mis-datos'"><i
                    class="p-1 bi-person-circle"></i> Mis Datos</button>
        </div>
        <div class="mx-4 my-3">
            <button type="button" class="btn btn-black btn-lg poppins-bold text-start" [routerLink]="'/vehicle'"><i
                    class="p-1 bi bi-car-front-fill"></i> Vehiculos</button>
        </div>

        <div class="mx-4 my-3">
            <button type="button" class="btn btn-black btn-lg poppins-bold text-start" [routerLink]="'/mis-mascotas'"><i
                    class="p-1 bi bi-gitlab"></i>
                Mascotas</button>
        </div>
        <div class="mx-4 my-3">
            <button type="button" class="btn btn-black btn-lg poppins-bold text-start" [routerLink]="'/mis-bancos'"><i
                    class="p-1 bi bi-bank"></i>
                Mis bancos</button>
        </div>
        <div class="mx-4 my-3">
            <button type="button" class="btn btn-black btn-lg poppins-bold text-start" [routerLink]="'/mi-cuenta'"><i
                    class="p-1 bi bi-gear-fill"></i> Mi Cuenta</button>
        </div>


    </div>
</div>