<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100">
    <div class="text-center rounded-3 shadow-lg p-5 bg-white" style="min-height: 70vh; max-width: 400px; width: 100%;">
        <div class="bg-success text-white py-4 rounded-top">
            <h1 class="fw-bold">PAGO EXITOSO</h1>
        </div>
        <div class="py-5">
            <img src="https://cdn-icons-png.flaticon.com/512/845/845646.png" alt="Success checkmark" class="img-fluid" style="width: 120px;">
        </div>
        <p class="text-muted">Ingresa a viajes pendientes en tu perfil!</p>

        <app-phone-navbar></app-phone-navbar>
    </div>
</div>
