<!-- reintegros.component.html -->

<div class="container">
    <h2 class="mt-4">Reintegros</h2>
    <p>Manipulación de reintegros solicitados</p>
    <hr class="my-4">
    <div class="container mt-4">
        <!-- Botón desplegable para filtrar por estado del reintegro -->
        <div class="mb-3">
            <select class="form-select" [(ngModel)]="filtroEstado" (change)="filtrarPorEstado()">
                <option value="">Todos</option>
                <option value="NULL">No Solicitado</option>
                <option value="REQUIRED">Reintegro Solicitado</option>
                <option value="RETURNED">Reintegro Completado</option>
                <option value="REJECTED">Reintegro Rechazado</option>
            </select>
        </div>

        <!-- Tabla de Reintegros -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Admin Reintegro</th>
                    <th>Fecha Reintegro</th>
                    <th>Motivo Reintegro</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reintegro of reintegrosFiltrados">
                    <td>{{ translateStatus(reintegro.status) }}</td>
                    <td>{{ reintegro.nombreAdminReintegro }}</td>
                    <td>{{ reintegro.fechaReintegro | date: 'medium' }}</td>
                    <td>{{ translateMotivo(reintegro.reintegroMotivo) }}</td>

                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editReintegroModal" (click)="openEditModal(reintegro.paymentId, reintegro)">Cambiar estado</button>
                                </li>
                                <li *ngIf="reintegro.status !== 'RETURNED'">
                                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#reintegroModal" (click)="openReintegroModal(reintegro)">Reintegrar</button>
                                </li>
                                
                            </ul>
                        </div>
                    </td>
                    
             
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal de Edición de Reintegro -->
<div class="modal fade" id="editReintegroModal" tabindex="-1" aria-labelledby="editReintegroModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editReintegroModalLabel">Editar Reintegro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="paymentDto">
                <div class="mb-3">
                    <label class="form-label">ID del Pago:</label>
                    <input type="text" class="form-control" [(ngModel)]="paymentDto.idPayment" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">ID de MercadoPago:</label>
                    <input type="text" class="form-control" [(ngModel)]="paymentDto.paymentId" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">Referencia Externa:</label>
                    <input type="text" class="form-control" [(ngModel)]="paymentDto.externalReference" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">Tipo de Pago:</label>
                    <input type="text" class="form-control" [(ngModel)]="paymentDto.paymentType" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">ID de Orden del Comerciante:</label>
                    <input type="text" class="form-control" [(ngModel)]="paymentDto.merchantOrderId" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">Nombre del Pasajero:</label>
                    <input type="text" class="form-control" [(ngModel)]="paymentDto.nombreCompletoPasajero" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">CUIL del Pasajero:</label>
                    <input type="text" class="form-control" [(ngModel)]="paymentDto.cuilPasajero" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">CBU del Pasajero:</label>
                    <input type="text" class="form-control" [(ngModel)]="paymentDto.cbuPasajero" readonly>
                </div>
                <!-- Fecha de Pago con uso correcto de pipe en un atributo de sólo lectura -->
                <div class="mb-3">
                    <label class="form-label">Fecha de Pago:</label>
                    <input type="text" class="form-control" [value]="paymentDto.fechaPago | date:'longDate'" readonly>
                </div>

                <form (ngSubmit)="submitUpdate()">
                    <div class="mb-3">
                      <label for="estado">Nuevo Estado:</label>
                      <select id="estado" [(ngModel)]="updateDto.nuevoEstado" name="estado" class="form-control">
                        <option value="REQUIRED">Reintegro Solicitado</option>
                        <option value="RETURNED">Reintegro Completado</option>
                        <option value="REJECTED">Reintegro Rechazado</option>
                      </select>
                    </div>
                 
                  </form>
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="submitUpdate()">Guardar
                    Cambios</button>
            </div>
        </div>
    </div>
</div>





<!-- Modal para Reintegro -->
<div class="modal fade" id="reintegroModal" tabindex="-1" aria-labelledby="reintegroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reintegroModalLabel">Solicitar Reintegro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">ID del Pago:</label>
                    <input type="text" class="form-control" [(ngModel)]="idPaymentSelected" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">Monto a Reintegrar:</label>
                    <input type="number" class="form-control" [(ngModel)]="reintegroAmount" readonly>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="realizarReintegro(idPaymentSelected.toString(),10) "data-bs-dismiss="modal">Confirmar Reintegro</button>
            </div>
        </div>
    </div>
</div>
<div class="pagination-controls mt-3 text-center">
    <nav aria-label="Paginación de reintegros">
      <ul class="pagination justify-content-center">
        <!-- Botón de página anterior -->
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="previousPage()">Anterior</a>
        </li>
  
        <!-- Números de página -->
        <li class="page-item" *ngFor="let page of getPageNumbers()" [class.active]="page === currentPage">
          <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
        </li>
  
        <!-- Botón de página siguiente -->
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="nextPage()">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
  